<!DOCTYPE html>
<html>
    <head>
         <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
         <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}"/>
    </head>

    <body>
        <div class="wd">
            <h1>Welcome to Badger Bytes</h1>
        </div>
        <div class="navbar">
            <button class="nav-button">HOME</button>
            <button class="nav-button">MENU</button>
            <button class="nav-button">ORDER</button>
            <button class="nav-button">CONTACT</button>
            <button class="nav-button">Log in</button>
            <button class="nav-button">Sign up</button>
            <button class="nav-button">Admin</button>
        </div>

        {% block content %}
        {% endblock %}

    </body>
</html>
