{% extends 'new_order.html' %}
{% block menus_block %}
<div class="pure-u-3-4 main_content">
<h1> Customer Reciept:</h1>
<div> {{ order }} </div>
<form method="POST">
{% if order %}
<ul class="menu pure-u-1-2">
    {% for item_list in order.items.values() %}
    {% for item in item_list %}
    <li class="menu-item">
        <div class="pure-u-3-4">
        {% if item.type == "Mains" %} 
            <b>{{ item.name }}</b>       <br>
            Price: ${{'%.2f'| format(item.price) }}    <br>
            {% for ingredient_type in item.ingredientsDict.keys() %}
            {% for ingredient in item.ingredientsDict[ingredient_type].values() %}
            {% if ingredient.amount|int != 0 %}
            - {{ingredient.name}}: {{ingredient.amount}} <br>
            {% endif %}
            {% endfor %}
            {% endfor %}
            Description: {{ item.description }} 
        {% else %}
            <b>{{ item.name }}</b>       <br>
            Price: ${{ item.price }}    <br>
            Description: {{ item.description }} 
        {% endif %}
        </div>

    </li> 
    {% endfor %}
    {% endfor %}
    </ul>
{% endif %}

</form>
{% endblock %}
