<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}

<h1 class="title">
  Welcome, {{ name }}!
</br>
  User Information:
</br>
  Name: {{name}}
</br>
  Phone: {{phone}}
</br>
  Email: {{email}}
</br>
  Address: {{address}}
</br>
  <label for="Payment">Choose a payment method:</label>

            <select name="payment" id="payment">
              <option value="Customer">Paypal</option>
              <option value="Admin">Stripe</option>
              <option value="Restraunt Staff">Apple Pay</option>
             
            </select>
</h1>
{% endblock %}
