<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}

<h1 class="title">
  Welcome, {{ name }}!
</br>
  User Information:
</br>
  Name: {{name}}
</br>
  Phone: {{phone}}
</br>
  Email: {{email}}
</br>
  Address: {{address}}
</br>
</h1>

<!-- <div class="content>" -->

<!-- <p>Payment</p> -->
<span class="tag is-primary is-medium"><b>Payment Method</b> </span>
<!-- </div> -->
  <!-- <label for="Payment">Choose a payment method:</label> -->
  <div class="select">

            <select name="payment" id="payment">
              <option value="Customer">Paypal</option>
              <option value="Admin">Strip</option>
              <option value="Restraunt Staff">Apple Pay</option>
             
            </select>
          </div>

{% endblock %}
