<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}

<h1 class="title">
  Welcome, {{ user.name }}!
</br>
  User Information:
</br>
  Name: {{user.name}}
</br>
  Phone: {{user.phone}}
</br>
  Email: {{user.email}}
</br>
  Address: {{user.address}}
</br>
</br>
Payment: {{user.payment}}
</br>
</h1>

<!-- <div class="content>" -->

<!-- <p>Payment</p> -->
<!-- <span class="tag is-primary is-medium"><b>Payment Method</b> </span> -->
<!-- </div> -->
  <!-- <label for="Payment">Choose a payment method:</label> -->


{% endblock %}
