{% extends 'staff_base.html' %}
{% block staff_block %}



                    <div class="column is-9">
                        <div class="card events-card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Current Orders
                                </p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
                            </header>
                            <div class="card-table">
                                <div class="content">
                                    <table class="table is-fullwidth is-striped">
                                        <tbody>
                                            {% for order in system.pending_orders %}
                                            <form method="POST" >
                                            <tr>                                                     
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>{{order}}</td>
                                                <td><button class="button is-small is-primary"  name='button' type='submit' value={{ order.order_id }}>Complete Order</button></td>
                                                <!-- <td class="level-right"><a class="button is-small is-primary" value={{ order.order_id }} href="#">Complete Order</a></td> -->
                                            </tr>
                                            </form>
                                            {%endfor%}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#" class="card-footer-item">View All</a>
                            </footer>
                        </div>
                    </div>


                    <div class="columns">
                        <div class="column is-9">
                            <div class="card events-card">
                                <header class="card-header">
                                    <p class="card-header-title">
                                        Completed Orders:
                                    </p>
                                    <a href="#" class="card-header-icon" aria-label="more options">
                      <span class="icon">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                      </span>
                    </a>
                                </header>
                                <div class="card-table">
                                    <div class="content">
                                        <table class="table is-fullwidth is-striped">
                                            <tbody>
                                                {% for order in system.completed_orders %}
                                                <tr>                                                     
                                                    <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                    <td>{{order}}</td>
                                                        <!-- <td class="level-right" ><a class="button is-small is-primary" >Complete Order</a></td> -->
                                                </tr>
                                                {%endfor%}
    
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <footer class="card-footer">
                                    <a href="#" class="card-footer-item">View All</a>
                                </footer>
                            </div>
                        </div>




{% endblock %}
